<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="resume portfolio Web Developer Python" name="Soroush Rasti">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/apple-icon-180x180.png">
  <link href="../static/assets/favicon.png" rel="icon">

  <title>About Me</title>  

<link href="../static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./works.html" title="">02 : Works</a></li>
          <li><a href="./about.html" title="">03 : About me</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>
        </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">03 : About me</h1>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <!-- <div class="col-xs-12 col-md-6">
                  <h1 class="h3">Data Scientist: Developing Innovative Machine Learning and Deep Learning Models to Make a Positive Impact.</h1>
                  <p>&nbsp I am a Data Scientific with 7+ years of experience, and I am seeking for new opportunities. </p>
                   <p> &nbsp I am an enthusiasm learner and expert in building predictive analytics models, machine learning, and deep learning algorithms.</p>
                   <p>&nbsp First, I implemented a machine learning model in 2016 in an internship project and successfully defended my master thesis Cum Laude. Additionally, I carried out Neural Network models during my Ph.D. between 2016 and 2021 at Leiden University. Finally, I am developing a predictive model for Rev'it to make the right decisions to increase revenue.</p>
                   <p>&nbsp My Skills include: Statistical Techniques, Python, R, SQL/NoSQL Servers, C++, Java, JavaScripts, React.js, Node.js, Power BI, Keras, Scala, Matlab, Hadoop, Git, Azure, AWS, as well as Convocational and Sequential Neural Networks.</p>
                   <h1 class="h3">Work Experience</h1>
                   <dl>
                    <dt>&nbsp Rev'it International Sport<br>&nbsp Data Scientist </dt>
                    <dd>&nbsp (September 2020-March 2021)</dd>
                    <dd>&nbsp - Executed predictive and forecasting analysis</dd>
                    <dd>&nbsp - Work with market mix modeling in conjunction with <br> &nbsp &nbsp Microsoft Azure, Power BI, Microsoft SQL Server, and <br> &nbsp &nbsp Tableau</dd>
                    <dd>&nbsp - Performed NLP sentiment analysis</dd>
                    <dt>&nbsp Leiden University<br>&nbsp Ph.D. Researcher | Data Scientist | Code Developer </dt>
                    <dd>&nbsp (October 2016 --- March 2021)</dd>
                    <dd>&nbsp - Implemented state-of-the-art mathematical models to <br> &nbsp &nbsp quantitatively evaluate ice systems’ anomalous properties <br> &nbsp &nbsp in collaboration with Prof. H. Jonsson at the University <br> &nbsp &nbsp of Iceland.</dd>
                    <dd>&nbsp - EHandled small to large projects with different team <br> &nbsp &nbsp sizes (Git)</dd>
                    <dd>&nbsp - Performed distributed storage of over 5 TB and <br> &nbsp &nbsp distributed processing on over 400 cores (Hadoop, SLURM)</dd>
                    <dd>&nbsp - Evaluated T Confidence Interval, P-values, and Power <br> &nbsp &nbsp Curve (R) </dd>
                    <dd>&nbsp - Scikit-Learn, NumPy, SciPy (Python)</dd>
                    <dd>&nbsp - Launched educational interactive environments (Java)</dd>






                  </dl>

                   <h1 class="h3">Educational Background</h1>
                   <dl>
                    <dt>&nbsp Doctorate's Degree in Computational Chemistry</dt>
                    <dd>&nbsp &nbsp University of Leiden, Leiden, The Netherlands <br>&nbsp &nbsp (October 2016-March 2021)</dd>
                    <dt>&nbsp Master's Degree in Computational Physics</dt>
                    <dd>&nbsp &nbsp Sharif University of Technology, Tehran, Iran <br>&nbsp &nbsp (September 2014-April 2016)</dd>
                    <dt>&nbsp Bachelor's Degree in Physics</dt>
                    <dd>&nbsp &nbsp University of Tehran, Tehran, Iran<br>&nbsp &nbsp (September 2011-September 2014)</dd>
                  </dl>


        
                </div> -->
                <div class="col-xs-12 col-md-6 black-image">
                  <img src="../static/assets/images/profil_color.png" class="img-responsive" alt="">
                </div>
              </div>
            </div>
          </div>
          
          
       </div>
      </div>
    </div>
  </div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="../static/main.70a66962.js"></script></body>

</html>